@use "../../utils/css" as utils;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
    @include utils.default-container();
}

body {
    background: utils.$dark url(/src/assets/images/theme.jpg) center/cover
        no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

button:focus,
input:focus,
a:focus {
    outline: 3px solid black;
    z-index: 50;
}

button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
    outline: none;
}
