// Import utility functions from the specified file.
@use "../../utils/css" as utils;

// Define styles for the footer component.
.footer {
    @include utils.container(100%, 30px);
    background-color: rgba(168, 168, 168, 0.329);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 15px;

    // Styles for the events counter within the footer.
    &__events-counter {
        font-size: 0.8rem;
        text-align: center;
        color: whitesmoke;
        font-weight: bold;
        background-color: rgba(126, 126, 126, 0.527);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 2px 10px;
        border-radius: 10px;
        white-space: nowrap;
    }

    // Styles for the image wrapper within the footer.
    &__img-wrapper {
        height: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        // Styles for images within the image wrapper.
        img {
            height: 100%;
        }

        // Media query styles for the first child of the image wrapper.
        :first-child {
            @media (max-width: 320px) {
                padding-block: 2px;
            }

            @media (max-width: 280px) {
                padding-block: 4px;
            }
        }
    }
}
