// Import utilities from a specified path and alias them as 'utils'.
@use "../../utils/css" as utils;

// Remove default underline from anchor elements.
a {
    text-decoration: none;
}

// Define styles for the header component.
.header {
    @include utils.container(100%, 70px);
    background-color: rgba(168, 168, 168, 0.329);
    padding: 0 15px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    // Styles for the header icon.
    &__icon {
        max-width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;

        // Styles for images within the header icon.
        img {
            width: 100%;
        }
    }

    // Styles for the navigation bar.
    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        // Hide the navbar on smaller screens.
        @media (max-width: 768px) {
            display: none;
        }

        // Styles for anchor elements within the navbar.
        a {
            text-align: center;
            width: 140px;
            border-radius: 20px;
            border: 2px solid whitesmoke;
            font-size: 1.25rem;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

    // Styles for the hamburger menu button.
    &__hamburger-menu {
        width: 34px;
        flex-shrink: 0;
        font-size: 2rem;
        border: none;
        display: none;
        background-color: transparent;
        place-items: center;
        cursor: pointer;
        border-radius: 5px;

        // Change color on hover.
        &:hover {
            color: #2e2e2e;
        }

        // Display the hamburger menu button on smaller screens.
        @media (max-width: 768px) {
            display: grid;
        }
    }

    // Styles for the dropdown menu.
    &__dropdown {
        display: none;
        z-index: 1000;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        right: 1rem;
        top: calc(70px + 1rem);
        height: 0;
        width: 300px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        // Active state for the dropdown.
        &--active {
            @extend .header__dropdown;
            height: 151px;
        }

        // Styles for anchor elements within the dropdown.
        a {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 20px);
            border-radius: 20px;
            border: 2px solid whitesmoke;
            font-size: 1.25rem;
            padding: 5px;
            gap: 5px;
        }

        // Display the dropdown on smaller screens.
        @media (max-width: 768px) {
            display: block;
        }

        // Adjustments for even smaller screens.
        @media (max-width: 576px) {
            left: 1rem;
            width: unset;
        }
    }
}
