@use "../../utils/css" as utils;

a {
    text-decoration: none;
}

.header {
    @include utils.container(100%, 70px);
    background-color: rgba(168, 168, 168, 0.329);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
        height: 100%;

        img {
            height: 100%;
        }
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 300px;

        a {
            text-align: center;
            width: 150px;
            border-radius: 10px;
            border: 2px solid whitesmoke;
            font-size: 1.25rem;
            padding: 5px;
        }
    }
}
