@use "../../utils/css" as utils;

.main {
    @include utils.container(100%, calc(100% - 100px));
    padding: 10px;

    &__home,
    &__not-found {
        @include utils.container(100%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        text-align: center;
        padding: 10px;

        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.25rem;
        }
    }

    &__my-teams {
        @include utils.container(100%, 100%);
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        color: whitesmoke;

        h2 {
            color: whitesmoke;
            margin: auto auto;
            text-align: center;
        }

        .event-wrapper {
            position: relative;
            left: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            position: relative;
            background-color: rgba(73, 73, 73, 0.616);
            background-color: #6363637a;
            border: 2px solid whitesmoke;
            padding: 10px;
            border-radius: 10px;
            border-top-left-radius: 0;

            &__buttons-wrapper {
                left: 0;
                top: -2px;
                transform: translateX(-100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100px;
                width: 30px;
                position: absolute;
                border: 2px solid whitesmoke;
                border-bottom-left-radius: 50%;
                border-top-left-radius: 50%;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    border-bottom: 2px solid white;
                }

                button {
                    display: grid;
                    place-items: center;
                    height: 100%;
                    border: none;
                    background-color: rgb(199, 199, 199, 0.616);

                    svg {
                        font-size: 1.1rem;
                        color: rgb(73, 73, 73);
                        margin-left: 3px;
                    }
                }
            }

            &__inputs-wrapper {
                border: 2px solid whitesmoke;
                position: absolute;
                right: 0;
                top: -2px;
                transform: translateX(100%);
                display: flex;
                flex-direction: column;
                height: 205px;
                max-width: 50px;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                overflow: hidden;

                button {
                    height: 100%;
                    border: none;
                    background-color: rgb(199, 199, 199, 0.616);

                    &:first-of-type {
                        border-bottom: 2px solid whitesmoke;
                    }

                    svg {
                        font-size: 1.1rem;
                        color: rgb(73, 73, 73);
                        margin-right: 15px;
                    }
                }

                input {
                    text-align: center;
                    font-size: 1rem;
                    width: 100%;
                    padding: 5px 10px;
                    color: whitesmoke;
                    background-color: rgba(44, 44, 44, 0.788);
                    border: 2px solid whitesmoke;
                    border-inline: none;

                    &[type="number"] {
                        -moz-appearance: textfield;
                        appearance: textfield;

                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }
                }
            }

            h3 {
                text-align: center;
                width: 200px;
                overflow-x: auto;
                white-space: nowrap;
            }

            h5 {
                text-align: center;
            }

            .teams-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;

                .team-wrapper {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                    border: 2px solid rgba(245, 245, 245, 0.418);
                    width: 200px;
                    border-radius: 10px;

                    @media (max-width: 320px) {
                        width: 180px;
                    }

                    @media (max-width: 300px) {
                        width: 160px;
                    }

                    .winner-button {
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: gold;
                        position: absolute;
                        background-color: transparent;
                        border: none;
                        top: 5px;
                        right: 8px;

                        &:disabled {
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }

                    .crown {
                        color: gold;
                        position: absolute;
                        top: -17px;
                        right: 5px;
                    }

                    .players-wrapper {
                        overflow: hidden;
                        width: 100%;

                        h4 {
                            padding: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .player {
                            height: 30px;
                            display: flex;
                            gap: 3px;
                            align-items: center;
                            border-top: 2px solid whitesmoke;

                            &__text {
                                width: 90%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                @media (max-width: 320px) {
                                    font-size: 0.9rem;
                                }

                                @media (max-width: 300px) {
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }

                    .k-d-a {
                        border-left: 2px solid rgba(245, 245, 245, 0.418);

                        h4 {
                            padding: 5px;
                            text-align: center;
                        }

                        &--modifier1 {
                            font-size: 0.9rem;
                            padding: 3px !important;
                        }

                        &__stats {
                            height: 30px;
                            border-top: 2px solid whitesmoke;
                            font-size: 0.7rem;
                            width: 63px;
                            text-align: center;
                            padding: 8px 5px 8px 5px;

                            .text {
                                overflow-x: auto;
                            }
                        }

                        &__stats--modifier1 {
                            @extend .k-d-a__stats;
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            padding: 2px 5px 2px 5px;

                            .text {
                                overflow-x: auto;
                            }

                            .rating-wrapper {
                                display: flex;
                                justify-content: center;

                                svg {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    .stats-buttons {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        button {
                            background-color: rgb(199, 199, 199, 0.616);
                            border: 2px solid whitesmoke;
                            border-bottom: none;
                            padding: 3px;
                            height: 30px;
                            border-top-right-radius: 50%;
                            border-bottom-right-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    &__generator {
        @include utils.container(100%, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .buttons-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 150px;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 20px;
            border: none;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .set-players-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
            height: 100%;
            max-height: 100%;
            max-width: 600px;
            width: 100%;
            overflow: hidden;

            h2 {
                color: whitesmoke;
                text-align: center;
            }

            .input-button {
                display: flex;
                justify-content: space-between;

                input {
                    width: 100%;
                    font-size: 1.3rem;
                    border: none;
                    background-color: rgba(44, 44, 44, 0.788);
                    color: whitesmoke;
                    padding: 5px;
                    text-align: center;
                    border: 2px solid whitesmoke;
                    border-right: none;
                }

                button {
                    font-size: 1.5rem;
                    padding: 5px;
                    background-color: rgba(44, 44, 44, 0.788);
                    color: whitesmoke;
                    border: 2px solid whitesmoke;
                }
            }

            .players {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 1.3rem;
                color: whitesmoke;
                overflow-x: hidden;
                overflow-y: auto;

                .player {
                    position: relative;
                    padding: 5px;
                    border-radius: 20px;
                    border: 2px solid whitesmoke;
                    background-color: rgba(73, 73, 73, 0.616);
                    display: flex;
                    justify-content: space-between;

                    &__info {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        overflow: hidden;
                        width: 100%;
                    }

                    &__text {
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .rating-wrapper {
                        position: absolute;
                        display: flex;
                        top: 2px;
                        right: 110px;

                        button {
                            color: whitesmoke;
                            font-size: 0.9rem;
                            display: flex;
                            background-color: transparent;
                            border: none;

                            &:disabled {
                                cursor: not-allowed;
                                opacity: 0.4;
                                color: rgba(199, 199, 199, 0.616);
                            }
                        }
                    }

                    .player__buttons {
                        display: flex;
                        gap: 5px;

                        .player__button {
                            width: 50px;
                            border-radius: 50%;
                            background-color: rgb(199, 199, 199, 0.616);
                            padding: 10px;
                            border: 2px solid whitesmoke;
                        }
                    }
                }
            }
        }

        .select-options-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: whitesmoke;
            text-align: center;

            .select-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .select {
                    border: 2px solid whitesmoke;
                    border-radius: 10px;
                    width: 140px;

                    div {
                        cursor: pointer;
                        background-color: rgb(73, 73, 73);
                        border-radius: 10px;
                        border: none;
                    }
                }
            }
        }

        .generated-teams-wrapper {
            border: 2px solid whitesmoke;
            color: whitesmoke;
            font-size: 1rem;
            gap: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;
            background-color: #6363637a;
            border-radius: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100%;

            .team {
                padding: 5px;
                border: 2px solid rgba(245, 245, 245, 0.418);
                width: 200px;
                border-radius: 10px;

                .winning-chance {
                    font-size: 0.7rem;
                    border-top: 2px solid whitesmoke;
                    padding-top: 2px;
                }

                .player {
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    border-top: 2px solid whitesmoke;

                    &__info {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        overflow: hidden;
                        width: 100%;
                    }

                    &__text {
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .rating-wrapper {
                        padding-top: 5px;
                        display: flex;
                        justify-content: center;

                        svg {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }

    &__stats {
        @include utils.container(100%, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        color: whitesmoke;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;

        .event-stats-wrapper {
            position: relative;
            border: 2px solid whitesmoke;
            background-color: #6363637a;
            padding: 10px;
            border-radius: 10px;

            @media (max-width: 600px) {
                width: 100%;
            }

            .date {
                padding: 5px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 0.7rem;
            }

            h3 {
                margin-top: 5px;
                max-width: 532px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .teams-wrapper {
                display: flex;
                flex-direction: column;

                .team-scroll-container {
                    overflow-x: auto;
                    width: 100%;
                    padding-top: 15px;

                    .team-wrapper {
                        position: relative;
                        width: 532px;
                        display: flex;
                        padding: 5px;
                        border: 2px solid rgba(245, 245, 245, 0.418);
                        border-radius: 10px;

                        .crown {
                            top: -17px;
                            right: 5px;
                            color: gold;
                            position: absolute;
                        }

                        .players-wrapper {
                            width: 250px;

                            .team-name-and-sum-stats {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                h4 {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    padding: 5px;
                                }

                                .sum-stats {
                                    display: flex;
                                    justify-content: center;
                                    gap: 5px;
                                    padding: 5px;
                                }
                            }

                            .player {
                                height: 30px;
                                display: flex;
                                align-items: center;
                                border-top: 2px solid whitesmoke;
                                gap: 3px;

                                &__text {
                                    width: 90%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }

                        .statistics-chart {
                            border-left: 2px solid rgba(245, 245, 245, 0.418);
                            width: 150px;

                            h4 {
                                text-align: center;
                                padding: 5px;
                            }

                            .chart-wrapper {
                                height: 30px;
                                border-top: 2px solid whitesmoke;
                                overflow: hidden;

                                &__stat {
                                    font-size: 9px;
                                    height: 8px;
                                    display: flex;
                                    justify-content: space-between;
                                    gap: 3px;
                                    margin: 1px 1px 1px 0;
                                    font-weight: bold;

                                    &__kills {
                                        border-top-right-radius: 50px;
                                        border-bottom-right-radius: 50px;
                                        background-color: rgba(0, 136, 23, 0.5);
                                    }

                                    &__deaths {
                                        border-top-right-radius: 50px;
                                        border-bottom-right-radius: 50px;
                                        background-color: rgba(175, 0, 0, 0.5);
                                    }

                                    &__assists {
                                        border-top-right-radius: 50px;
                                        border-bottom-right-radius: 50px;
                                        background-color: rgba(0, 69, 138, 0.5);
                                    }
                                }
                            }
                        }

                        .overall {
                            border-left: 2px solid rgba(245, 245, 245, 0.418);
                            width: 50px;

                            h4 {
                                padding: 7px 3px 7px 3px;
                                font-size: 12px;
                                text-align: center;
                            }

                            &__rating {
                                height: 30px;
                                border-top: 2px solid whitesmoke;
                                display: flex;
                                justify-content: center;
                                padding: 5px;
                            }
                        }

                        .k-d-a {
                            border-left: 2px solid rgba(245, 245, 245, 0.418);
                            width: 68px;

                            h4 {
                                padding: 5px;
                                text-align: center;
                            }

                            &__stats {
                                height: 30px;
                                border-top: 2px solid whitesmoke;
                                font-size: 0.7rem;
                                width: 66px;
                                text-align: center;
                                padding: 8px 5px 8px 5px;

                                .text {
                                    overflow-x: auto;
                                }
                            }

                            &__stats--modifier1 {
                                @extend .k-d-a__stats;
                                display: flex;
                                flex-direction: column;
                                gap: 2px;
                                padding: 2px 5px 2px 5px;

                                .text {
                                    overflow-x: auto;
                                }

                                .rating-wrapper {
                                    display: flex;
                                    justify-content: center;

                                    svg {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        h2 {
            color: whitesmoke;
            margin: auto auto;
            text-align: center;
        }
    }

    .team-name-input {
        font-size: 0.9rem;
        padding: 3px;
        width: 100%;
        color: whitesmoke;
        &::placeholder {
            color: whitesmoke;
        }
        background-color: rgba(44, 44, 44, 0.63);
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .team-name-input--modifier1 {
        @extend .team-name-input;
        border-top-right-radius: 0;
    }

    .event-name-input {
        width: 100%;
        max-width: 400px;
        color: whitesmoke;
        background-color: rgba(44, 44, 44, 0.788);
        border: 2px solid whitesmoke;
        padding: 5px;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 10px;
    }

    button {
        cursor: pointer;
    }

    .icon-style1 {
        font-size: 1.7rem;
        color: rgb(73, 73, 73);
    }

    .avatar {
        width: 30px;
        justify-content: center;
        display: flex;
        align-items: center;

        &--modifier1 {
            width: 50px;
        }
    }

    .popup {
        color: black;
        z-index: 100;
        max-width: 530px;
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgba(240, 248, 255, 0.719);
        position: fixed;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black;
        font-size: 1.3rem;

        button {
            cursor: pointer;
            border-radius: 15px;
            background-color: rgba(240, 248, 255, 0.719);
            padding: 5px;
            border: 2px solid black;
        }
    }
}
