@use "../../utils/css" as utils;

.main {
    @include utils.container(100%, calc(100% - 100px));
    padding: 10px;

    &__container {
        @include utils.container(100%, 100%);
    }

    &__home,
    &__not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        text-align: center;

        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.25rem;
        }
    }

    &__my-teams {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        color: whitesmoke;

        .event-wrapper {
            position: relative;
            background-color: rgba(73, 73, 73, 0.616);
            background-color: #6363637a;
            border: 2px solid whitesmoke;
            padding: 10px;
            border-radius: 10px;
            border-top-left-radius: 0;

            &__buttons-wrapper {
                left: 0;
                top: -2px;
                transform: translateX(-100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100px;
                width: 30px;
                position: absolute;
                border: 2px solid whitesmoke;
                border-bottom-left-radius: 50%;
                border-top-left-radius: 50%;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    border-bottom: 2px solid white;
                }

                button {
                    display: grid;
                    place-items: center;
                    height: 100%;
                    border: none;
                    background-color: rgb(199, 199, 199, 0.616);

                    svg {
                        font-size: 1.1rem;
                        color: rgb(73, 73, 73);
                        margin-left: 3px;
                    }
                }
            }

            h3 {
                font-size: 1.4rem;
                text-align: center;
                padding-bottom: 5px;
            }
            .teams-wrapper {
                display: flex;
                justify-content: center;
                gap: 10px;

                .team-wrapper {
                    padding: 5px;
                    border: 2px solid rgba(245, 245, 245, 0.418);
                    width: 150px;
                    border-radius: 10px;

                    h4 {
                        padding: 5px;
                    }

                    .player {
                        padding: 5px;
                        border-top: 2px solid whitesmoke;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    &__generator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .buttons-wrapper {
            display: flex;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 150px;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            margin: 5px;
        }

        .set-players-wrapper {
            padding: 5px;
            position: relative;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: 5px;
            height: 100%;
            max-height: 100%;
            max-width: 600px;
            width: 100%;
            overflow: hidden;

            h2 {
                color: whitesmoke;
                text-align: center;
            }

            .input-button {
                display: flex;
                justify-content: space-between;

                input {
                    width: 100%;
                    font-size: 1.3rem;
                    border: none;
                    background-color: rgba(44, 44, 44, 0.788);
                    color: whitesmoke;
                    padding: 5px;
                    text-align: center;
                    border: 2px solid whitesmoke;
                    border-right: none;
                }

                button {
                    font-size: 1.5rem;
                    padding: 5px;
                    background-color: rgba(44, 44, 44, 0.788);
                    color: whitesmoke;
                    border: 2px solid whitesmoke;
                }
            }

            .players {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 1.3rem;
                color: whitesmoke;
                text-align: center;
                overflow-x: hidden;
                overflow-y: auto;

                .player {
                    padding: 5px;
                    border-radius: 20px;
                    border: 2px solid whitesmoke;
                    background-color: rgba(73, 73, 73, 0.616);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .player__text {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .player__buttons {
                        display: flex;
                        gap: 5px;

                        .player__button {
                            width: 50px;
                            border-radius: 50%;
                            background-color: rgb(199, 199, 199, 0.616);
                            padding: 10px;
                            border: 2px solid whitesmoke;
                        }
                    }
                }
            }
        }

        .select-options-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .select {
                padding: 5px;
                font-size: 1.3rem;
                color: whitesmoke;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px solid whitesmoke;
                width: 400px;
                border-radius: 10px;
                background-color: rgba(73, 73, 73, 0.616);

                select {
                    font-size: 1rem;
                    background-color: #2a2f3b;
                    background: #636363;
                    color: whitesmoke;
                    border-radius: 10px;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }

        .team-name-input {
            font-size: 0.9rem;
            padding: 3px;
            width: 100%;
            color: whitesmoke;
            &::placeholder {
                color: whitesmoke;
            }
            background-color: rgba(44, 44, 44, 0.63);
            border: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .event-name-input {
            color: whitesmoke;
            background-color: rgba(44, 44, 44, 0.788);
            border: 2px solid whitesmoke;
            padding: 5px;
            font-size: 1.4rem;
            text-align: center;
        }

        .generated-teams-wrapper {
            border: 2px solid whitesmoke;
            display: flex;
            color: whitesmoke;
            font-size: 1rem;
            gap: 10px;
            justify-content: center;
            padding: 10px;
            background-color: #6363637a;
            flex-wrap: wrap;
            border-radius: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100%;

            .team {
                padding: 5px;
                border: 2px solid rgba(245, 245, 245, 0.418);
                width: 150px;
                border-radius: 10px;

                .player {
                    padding: 5px;
                    border-top: 2px solid whitesmoke;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    button {
        cursor: pointer;
    }

    .icon-style1 {
        font-size: 1.7rem;
        color: rgb(73, 73, 73);
    }

    .popup {
        max-width: 530px;
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgba(240, 248, 255, 0.719);
        position: fixed;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black;
        font-size: 1.3rem;

        button {
            cursor: pointer;
            border-radius: 15px;
            background-color: rgba(240, 248, 255, 0.719);
            padding: 5px;
            border: 2px solid black;
        }
    }
}
