/* Importing utility functions from the "utils/css" file. */
@use "../../utils/css" as utils;

/* Styles for the main container. */
.main {
    @include utils.container(100%, calc(100% - 100px));
    padding: 10px;

    /* Styles for home and not-found sections within the main container. */
    &__home,
    &__not-found {
        @include utils.container(100%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        text-align: center;
        padding: 10px;

        /* Heading styles. */
        h1 {
            text-shadow: 0 0 0.2em whitesmoke;
            font-size: 1.75rem;
        }

        h2 {
            text-shadow: 0 0 0.2em whitesmoke;
            font-size: 1.25rem;
        }
    }

    /* Styles for my-teams section within the main container. */
    &__my-teams {
        @include utils.container(100%, 100%);
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        color: whitesmoke;

        /* Heading styles. */
        h2 {
            text-shadow: 0 0 0.2em whitesmoke;
            color: whitesmoke;
            margin: auto auto;
            text-align: center;
        }

        /* Styles for the event wrapper. */
        .event-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            background-color: rgba(73, 73, 73, 0.616);
            border: 2px solid whitesmoke;
            padding: 10px;
            border-radius: 10px;
            border-top-left-radius: 0;
            margin-left: 28px;

            /* Styles for buttons wrapper within the event wrapper. */
            &__buttons-wrapper {
                left: -30px;
                top: -2px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100px;
                width: 30px;
                position: absolute;

                /* Styling the pseudo-element before the buttons. */
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    border-bottom: 2px solid white;
                }

                /* Button styles within buttons wrapper. */
                button {
                    display: grid;
                    place-items: center;
                    height: 100%;
                    background-color: rgb(199, 199, 199, 0.616);
                    border: 2px solid whitesmoke;

                    /* Styling the first and last child buttons. */
                    &:first-child {
                        border-top-left-radius: 50%;
                        border-bottom: none;
                    }

                    &:last-child {
                        border-bottom-left-radius: 50%;
                        border-top: none;
                    }

                    /* SVG icon styles within buttons. */
                    svg {
                        font-size: 1.1rem;
                        color: rgb(73, 73, 73);
                    }
                }
            }

            /* Styles for inputs wrapper within the event wrapper. */
            &__inputs-wrapper {
                position: absolute;
                right: -50px;
                top: -2px;
                display: flex;
                flex-direction: column;
                height: 208px;
                width: 50px;

                /* Heading styles within inputs wrapper. */
                h5 {
                    border-inline: 2px solid whitesmoke;
                    font-size: 0.7rem;
                }

                /* Button styles within inputs wrapper. */
                button {
                    display: grid;
                    place-items: center;
                    height: 100%;
                    border: 2px solid whitesmoke;
                    background-color: rgb(199, 199, 199, 0.616);

                    /* Styling the first and last child buttons. */
                    &:first-child {
                        border-top-right-radius: 50%;
                    }

                    &:last-child {
                        border-bottom-right-radius: 50%;
                        border-top: none;
                    }

                    /* SVG icon styles within buttons. */
                    svg {
                        font-size: 1.1rem;
                        color: rgb(73, 73, 73);
                    }
                }

                /* Input styles within inputs wrapper. */
                input {
                    text-align: center;
                    font-size: 1rem;
                    width: 100%;
                    padding: 5px 5px;
                    color: whitesmoke;
                    background-color: rgba(44, 44, 44, 0.788);
                    border: 2px solid whitesmoke;
                }
            }

            /* Heading styles within the event wrapper. */
            h3 {
                text-align: center;
                width: 200px;
                overflow-x: auto;
                white-space: nowrap;
            }

            /* Heading styles within the event wrapper. */
            h5 {
                text-align: center;
            }

            /* Styles for teams wrapper within the event wrapper. */
            .teams-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;

                /* Styles for team wrapper within teams wrapper. */
                &__team-wrapper {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                    border: 2px solid rgba(245, 245, 245, 0.418);
                    width: 200px;
                    border-radius: 10px;
                    box-shadow: 0 0 6px 3px rgba(126, 126, 126, 0.534);
                    backdrop-filter: blur(1px);
                    -webkit-backdrop-filter: blur(1px);

                    /* Media query for responsive design. */
                    @media (max-width: 335px) {
                        width: 180px;
                    }

                    @media (max-width: 315px) {
                        width: 160px;
                    }

                    /* Styles for winner button within team wrapper. */
                    .winner-button {
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: gold;
                        position: absolute;
                        background-color: transparent;
                        border: none;
                        top: 7px;
                        right: 8px;

                        /* Styles for disabled state of winner button. */
                        &:disabled {
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }

                    /* Styles for crown icon within team wrapper. */
                    .crown {
                        color: gold;
                        position: absolute;
                        top: -17px;
                        right: 5px;
                    }

                    /* Styles for players wrapper within team wrapper. */
                    .players-wrapper {
                        overflow: hidden;
                        width: 100%;

                        /* Heading styles within the team wrapper. */
                        h4 {
                            padding: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        /* Styles for player within the players wrapper. */
                        .player {
                            height: 30px;
                            display: flex;
                            gap: 3px;
                            align-items: center;
                            border-top: 2px solid whitesmoke;

                            /* Styles for text within player. */
                            &__text {
                                width: 90%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                /* Media queries for responsive design. */
                                @media (max-width: 335px) {
                                    font-size: 0.9rem;
                                }

                                @media (max-width: 315px) {
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }

                    /* Styles for KDA section within the team wrapper. */
                    .k-d-a {
                        border-left: 2px solid rgba(245, 245, 245, 0.418);

                        /* Heading styles within the KDA section. */
                        h4 {
                            padding: 5px;
                            text-align: center;
                        }

                        /* Modifier styles for heading in KDA section. */
                        .h4--modifier1 {
                            height: 25px;
                        }

                        /* Styles for stats in the KDA section. */
                        &__stats {
                            height: 30px;
                            border-top: 2px solid whitesmoke;
                            font-size: 0.7rem;
                            width: 66px;
                            text-align: center;
                            padding: 8px 5px 8px 5px;

                            /* Styles for text in stats. */
                            .text {
                                overflow-x: auto;
                            }
                        }

                        /* Modifier styles for stats in KDA section. */
                        &__stats--modifier1 {
                            @extend .k-d-a__stats;
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            padding: 2px 5px 2px 5px;

                            /* Styles for rating wrapper. */
                            .rating-wrapper {
                                display: flex;
                                justify-content: center;

                                /* Styles for SVG icon in rating wrapper. */
                                svg {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    /* Styles for buttons section within the team wrapper. */
                    .stats-buttons {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        /* Styles for button within the stats-buttons section. */
                        button {
                            background-color: rgb(199, 199, 199, 0.616);
                            border: 2px solid whitesmoke;
                            border-bottom: none;
                            padding: 3px;
                            height: 30px;
                            border-top-right-radius: 50%;
                            border-bottom-right-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    /* Styles for generator section within the main container. */
    &__generator {
        @include utils.container(100%, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        /* Buttons wrapper styling. */
        .buttons-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
        }

        /* Common button styling. */
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 150px;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 20px;
            border: none;

            &:disabled {
                cursor: not-allowed;
            }
        }

        /* Set players wrapper styling. */
        .set-players-wrapper {
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-height: 100%;
            max-width: 600px;
            width: 100%;
            overflow: hidden;

            /* Heading styles. */
            h2 {
                color: whitesmoke;
                text-align: center;
            }

            /* Styles for input-button within the set-players-wrapper. */
            &__input-button {
                display: flex;
                justify-content: space-between;

                /* Input field styling within input-button wrapper. */
                input {
                    width: 100%;
                    font-size: 1.3rem;
                    background-color: rgba(44, 44, 44, 0.788);
                    color: whitesmoke;
                    padding: 5px;
                    text-align: center;
                    border: 2px solid whitesmoke;
                    border-right: none;
                }

                /* Button styling within input-button wrapper. */
                button {
                    font-size: 1.5rem;
                    padding: 5px;
                    background-color: rgba(44, 44, 44, 0.788);
                    color: whitesmoke;
                    border: 2px solid whitesmoke;
                }
            }

            /* Players list styling. */
            &__players {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 1.3rem;
                color: whitesmoke;
                overflow-x: hidden;
                overflow-y: auto;

                /* Player item styling. */
                .player {
                    position: relative;
                    padding: 5px;
                    border-radius: 20px;
                    border: 2px solid whitesmoke;
                    background-color: rgba(73, 73, 73, 0.616);
                    display: flex;
                    justify-content: space-between;

                    /* Player info wrapper styling. */
                    &__info {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        overflow: hidden;
                        width: 100%;
                    }

                    /* Text within player item styling. */
                    &__text {
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    /* Rating wrapper within player item styling. */
                    &__rating-wrapper {
                        position: absolute;
                        display: flex;
                        gap: 3px;
                        top: 2px;
                        right: 110px;

                        /* Button within rating wrapper styling. */
                        button {
                            padding-block: 2px;
                            color: whitesmoke;
                            font-size: 0.9rem;
                            display: flex;
                            background-color: transparent;
                            border: none;

                            /* Styles for disabled state of rating-wrapper button. */
                            &:disabled {
                                cursor: not-allowed;
                                opacity: 0.4;
                                color: rgba(199, 199, 199, 0.616);
                            }
                        }
                    }

                    /* Buttons within player item styling. */
                    &__buttons {
                        display: flex;
                        gap: 5px;

                        button {
                            width: 50px;
                            border-radius: 50%;
                            background-color: rgb(199, 199, 199, 0.616);
                            padding: 10px;
                            border: 2px solid whitesmoke;
                        }
                    }
                }
            }
        }

        /* Select options wrapper styling. */
        .select-options-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: whitesmoke;
            text-align: center;

            /* Select wrapper styling within select options wrapper. */
            &__select-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        /* Generated teams wrapper styling. */
        .generated-teams-wrapper {
            border: 2px solid whitesmoke;
            color: whitesmoke;
            font-size: 1rem;
            gap: 15px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;
            background-color: rgba(73, 73, 73, 0.616);
            border-radius: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100%;

            /* Team item styling. */
            .team {
                padding: 5px;
                border: 2px solid rgba(245, 245, 245, 0.418);
                width: 200px;
                border-radius: 10px;
                box-shadow: 0 0 6px 3px rgba(126, 126, 126, 0.534);
                backdrop-filter: blur(1px);
                -webkit-backdrop-filter: blur(1px);

                /* Winning-chance styling within team item. */
                &__winning-chance {
                    font-size: 0.7rem;
                    border-top: 2px solid whitesmoke;
                    padding-top: 2px;
                }

                /* Player styling. */
                .player {
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    border-top: 2px solid whitesmoke;

                    /* Player info wrapper within player item. */
                    &__info {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        overflow: hidden;
                        width: 100%;
                    }

                    /* Text within player item. */
                    &__text {
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    /* Rating wrapper within player item. */
                    .rating-wrapper {
                        padding-top: 5px;
                        padding-right: 1px;
                        display: flex;
                        justify-content: center;

                        /* SVG icon styling within rating wrapper. */
                        svg {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }

    /* Styles for stats section within the main container. */
    &__stats {
        @include utils.container(100%, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        color: whitesmoke;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;

        /* Heading styles. */
        h2 {
            text-shadow: 0 0 0.2em whitesmoke;
            color: whitesmoke;
            margin: auto auto;
            text-align: center;
        }

        /* Event stats wrapper styling. */
        .event-stats-wrapper {
            position: relative;
            border: 2px solid whitesmoke;
            background-color: rgba(73, 73, 73, 0.616);
            padding: 10px;
            border-radius: 10px;

            /* Responsive width for smaller screens. */
            @media (max-width: 615px) {
                width: 100%;
            }

            /* Date styling. */
            .date {
                padding: 5px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 0.7rem;
            }

            /* Heading for event. */
            h3 {
                margin: 6px 0 0 9px;
                max-width: 532px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            /* Teams wrapper styling. */
            .teams-wrapper {
                display: flex;
                flex-direction: column;

                /* Scrollable container for teams. */
                .team-scroll-container {
                    overflow-x: auto;
                    width: 100%;
                    padding: 15px 9px 9px 9px;

                    /* Individual team wrapper styling. */
                    .team-wrapper {
                        position: relative;
                        backdrop-filter: blur(1px);
                        -webkit-backdrop-filter: blur(1px);
                        box-shadow: 0 0 6px 3px rgba(126, 126, 126, 0.534);
                        width: 532px;
                        display: flex;
                        padding: 5px;
                        border: 2px solid rgba(245, 245, 245, 0.418);
                        border-radius: 10px;

                        /* Crown icon for winning team. */
                        .crown {
                            top: -17px;
                            right: 5px;
                            color: gold;
                            position: absolute;
                        }

                        /* Players wrapper within team. */
                        .players-wrapper {
                            width: 250px;

                            /* Team name and sum stats wrapper. */
                            .team-name-and-sum-stats {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                /* Team name styling. */
                                h4 {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    padding: 5px;
                                    max-width: 145px;
                                }

                                /* Sum stats styling. */
                                .sum-stats {
                                    display: flex;
                                    gap: 5px;
                                    margin-right: 5px;
                                    overflow-x: auto;
                                    overflow-y: hidden;
                                    max-width: 100px;
                                }
                            }

                            /* Player item within players-wrapper. */
                            .player {
                                height: 30px;
                                display: flex;
                                align-items: center;
                                border-top: 2px solid whitesmoke;
                                gap: 3px;

                                /* Text within player item. */
                                &__text {
                                    width: 90%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }

                        /* Statistics chart container. */
                        .statistics-chart {
                            border-left: 2px solid rgba(245, 245, 245, 0.418);
                            width: 150px;
                            overflow: hidden;

                            /* Heading for the chart. */
                            h4 {
                                text-align: center;
                                padding: 5px;
                            }

                            /* Chart wrapper styles. */
                            .chart-wrapper {
                                height: 30px;
                                border-top: 2px solid whitesmoke;
                                overflow: hidden;

                                /* Stat display within chart.*/
                                &__stat {
                                    font-size: 9px;
                                    height: 8px;
                                    display: flex;
                                    justify-content: space-between;
                                    gap: 2px;
                                    margin: 1px 1px 1px 0;
                                    font-weight: bold;

                                    /* Stat-specific styling. */
                                    &__kills {
                                        @include utils.stat-style(
                                            rgba(0, 136, 23, 0.5)
                                        );
                                    }

                                    &__deaths {
                                        @include utils.stat-style(
                                            rgba(175, 0, 0, 0.5)
                                        );
                                    }

                                    &__assists {
                                        @include utils.stat-style(
                                            rgba(0, 69, 138, 0.5)
                                        );
                                    }
                                }
                            }
                        }

                        /* Overall stats container. */
                        .overall {
                            border-left: 2px solid rgba(245, 245, 245, 0.418);
                            width: 50px;

                            h4 {
                                padding: 7px 3px 7px 3px;
                                font-size: 12px;
                                text-align: center;
                            }

                            /* Rating display within overall. */
                            &__rating {
                                height: 30px;
                                border-top: 2px solid whitesmoke;
                                display: flex;
                                justify-content: center;
                                padding: 5px;
                            }
                        }

                        /* KDA stats container. */
                        .k-d-a {
                            border-left: 2px solid rgba(245, 245, 245, 0.418);
                            width: 68px;

                            h4 {
                                padding: 5px;
                                text-align: center;
                            }

                            /* Stats display. */
                            &__stats {
                                height: 30px;
                                border-top: 2px solid whitesmoke;
                                font-size: 0.7rem;
                                width: 66px;
                                text-align: center;
                                padding: 8px 5px 8px 5px;

                                /* Text within stats display. */
                                .text {
                                    overflow-x: auto;
                                    overflow-y: hidden;
                                }
                            }

                            /* Modifier for specific stats display. */
                            &__stats--modifier1 {
                                @extend .k-d-a__stats;
                                display: flex;
                                flex-direction: column;
                                gap: 2px;
                                padding: 2px 5px 2px 5px;

                                /* Rating wrapper display. */
                                .rating-wrapper {
                                    display: flex;
                                    justify-content: center;

                                    svg {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Styling for the team name input. */
    .team-name-input {
        font-size: 0.9rem;
        padding: 3px;
        width: 100%;
        color: whitesmoke;
        &::placeholder {
            color: whitesmoke;
        }
        background-color: rgba(44, 44, 44, 0.63);
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* Modifier1 styling for the team name input. */
    .team-name-input--modifier1 {
        @extend .team-name-input;
        border-top-right-radius: 0;
        margin-top: 3px;
        height: 22px;
    }

    /* Styling for the event name input. */
    .event-name-input {
        width: 100%;
        max-width: 400px;
        color: whitesmoke;
        background-color: rgba(44, 44, 44, 0.788);
        border: 2px solid whitesmoke;
        padding: 5px;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 10px;
    }

    /* Generic button styling. */
    button {
        cursor: pointer;
    }

    /* Styling for icon style1. */
    .icon-style1 {
        font-size: 1.7rem;
        color: rgb(73, 73, 73);
    }

    /* Styling for avatar. */
    .avatar {
        width: 30px;
        justify-content: center;
        display: flex;
        align-items: center;

        /* Modifier1 styling for avatar. */
        &--modifier1 {
            width: 50px;
        }
    }

    /* Styling for popup. */
    .popup {
        color: black;
        z-index: 100;
        max-width: 530px;
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgba(240, 248, 255, 0.719);
        position: fixed;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black;
        font-size: 1.3rem;

        /* Styling for popup button. */
        button {
            cursor: pointer;
            border-radius: 15px;
            background-color: rgba(240, 248, 255, 0.719);
            padding: 5px;
            border: 2px solid black;
        }
    }
}
